@charset "utf-8";
/* CSS Document */

#full-page{
	height:1000px;
	width:900px;
	margin:auto;
	background-color:#AC9D9D;
}

#header{
	height:150px;
	background-color:red;
}

#logo{
	width:250px;
	/*height:200px;/**/
	height:100%;
	float:left;
	background-color:yellow;
}

#top-bar{
	width:650px;
	/*height:200px;/**/
	height:100%;
		float:left;
	background-color:lime;
}

#main-body{
	height:700px;
	background-color:green;
}

#main-body-top{
	height:200px;
	background-color:pink;
}

#main-nav{
	width:250px;
	height:100%;
		float:left;
	background-color:lightblue;
}

#banner-section{
	width:650px;
	height:100%;
		float:left;
	background-color:lightgreen;
}

#banner-1{
	width:400px;
	height:100%;
	float:left;
	background-color:pink;
}

#banner-2{
	width:250px;
	height:100%;
	float:left;
	background-color:yellow;
}


#main-body-bottom{
	height:500px;
	background-color:orange;
}

#footer{
	height:150px;
	background-color:blue;
}

#footer-top{
	height:100px;
	background-color:lightblue;
}

#footer-bottom{
	height:50px;
	background-color:lightgreen;
}



