<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Untitled Document</title>
<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="css/font-awesome.min.css" type="text/css" rel="stylesheet">
<link href="css/styles.css" type="text/css" rel="stylesheet">


<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-hover-dropdown.js"></script>


</head>

<body>
<div id="full-page" class="container">
	
    <header class="col-xs-12">
    	
        <div id="header-top" class="row">
       		<div id="logo" class="col-lg-2 col-md-3 col-sm-4 col-xs-12"><img src="images/logo.png"></div> 
       		<div class="col-lg-10 col-md-9 col-sm-8  col-xs-12">
            	<nav class="row">
                 	<ul class="list-inline" id="top-menu-1">
                        <li><a href="#">Sell</a></li>
                        <li><a href="#">Registry</a></li>
                        <li><a href="#">Community</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Gift Cards</a></li>
                    </ul>
                </nav>
                <nav class="row" id="top-menu-2">
                    <ul class="list-inline pull-right">
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">Wishlist <i class="fa fa-gift" aria-hidden="true"></i>
</a></li>
                        <li><a href="#">Cart <i class="fa fa-shopping-cart" aria-hidden="true"></i>
</a></li>
                    </ul>
                </nav>
            </div> 
        </div>

        <nav class="navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="#">Art</a></li>
                <li class="dropdown">
                <!--
                
                data-toggle="dropdown"
                -->
                  <a href="#" class="dropdown-toggle" data-hover="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">Home &amp; Living</a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Home1</a></li>
                    <li><a href="#">Home 2</a></li>
                    <li><a href="#">Home 3</a></li>
                  </ul>
                </li>
                <li><a href="#">Jewelry</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Men</a></li>
                <li><a href="#">Kids</a></li>
                <li><a href="#">Vintage</a></li>
                <li><a href="#">Weddings</a></li>
                <li><a href="#">More</a></li>
                
              </ul>

            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>        
        
    </header>
    
    <div id="main-body" class="col-xs-12">
    	<div class="row">
            <div class="col-lg-7" style="height:571px;background-color:pink;margin-bottom:5px;padding:0;">
            <img src="images/temp/01.jpg">
            </div>
            
            <div class="col-lg-5" style="height:571px;background-color:yellow;margin-bottom:5px;padding:0;padding-left:5px;">
            	
                <div class="col-xs-12" style="height:320px;background-color:red;margin-bottom:5px;padding:0;">
                	<img src="images/temp/02.jpg" style="width:100%;height:100%;">
                </div>
                
                <div class="col-xs-12" style="height:245px;background-color:purple;padding:0;">
                <img src="images/temp/03.jpg" style="width:100%;height:100%;">
                </div>
                	
            </div>
		</div>  
        
        <div class="row">
            <div class="col-lg-7" style="height:510px;background-color:orange;margin-bottom:5px;padding:0;">
            
                <div class="col-xs-12" style="height:171px;background-color:red;margin-bottom:5px;padding:0;">
                	<img src="images/temp/04.jpg" style="width:100%;height:100%;">
                </div>
                
                <div class="col-xs-12" style="height:334px;background-color:purple;padding:0;">
                	<img src="images/temp/05.jpg" style="width:100%;height:100%;">
                </div>            
            
            </div>
            
            <div class="col-lg-5" style="height:510px;background-color:lightblue;margin-bottom:5px;padding:0;padding-left:5px;">
            	<img src="images/temp/06.jpg" style="width:100%;height:100%;">
            </div>
        
        </div>      
    </div>

</div>






</body>
</html>
