<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Untitled Document</title>
<link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
<link href="css/styles.css" type="text/css" rel="stylesheet">


<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>


</head>

<body>
<div id="full-page" class="container">
	
    <header>
    	
        <div id="header-top" class="row">
       		<div id="logo" class="col-lg-2" style="background-color:purple;"><img src="images/logo.png"></div> 
       		<div class="col-lg-10" style="background-color:red;">
            	<nav class="row" style="background-color:lightblue;">
                 	<ul class="list-inline pull-right" id="top-menu-1">
                        <li><a href="#">Sell</a></li>
                        <li><a href="#">Registry</a></li>
                        <li><a href="#">Community</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Mobile</a></li>
                        <li><a href="#">Gift Cards</a></li>
                    </ul>
                </nav>
                <nav class="row" style="background-color:orange;">
                    <ul class="list-inline">
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">Wishlist</a></li>
                        <li><a href="#">Cart</a></li>
                    </ul>
                </nav>
            </div> 
        </div>

        <nav>
        	<ul class="list-inline">
            	<li><a href="#">Art</a></li>
            	<li><a href="#">Home &amp; Living</a></li>
            	<li><a href="#">Jewelry</a></li>
            	<li><a href="#">Women</a></li>
            	<li><a href="#">Men</a></li>
            	<li><a href="#">Kids</a></li>
            	<li><a href="#">Vintage</a></li>
            	<li><a href="#">Weddings</a></li>
            	<li><a href="#">More</a></li>
            </ul>
        </nav>
        
    </header>
    
    <div id="main-body"></div>

</div>






</body>
</html>
